@import "tailwindcss";

/* Base */
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  background-color: #020617;
  color: #e5e7eb;
}

/* Cyber utilities (OK) */
@layer utilities {
  .matrix-bg {
    background:
      radial-gradient(circle at 15% 50%, rgba(37,99,235,.1), transparent 50%),
      linear-gradient(180deg, #020617, #020617);
  }

  .cyber-glow {
    box-shadow: 0 0 20px rgba(59,130,246,.5);
  }
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE et Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari et Opera */
}